<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travel partner | Reset password page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <%- include('links'); %>
</head>

<body>

    <%- include('loader'); %>

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <%- include('topNav'); %>
                    <div class="pcoded-main-container">
                        <div class="pcoded-wrapper">
                            <%- include('sideNav'); %>
                                <div class="pcoded-content">
                                    <div class="pcoded-inner-content">

                                        <div class="main-body">
                                            <div class="page-wrapper">

                                                <div class="page-header">
                                                    <div class="row align-items-end">
                                                        <div class="col-lg-8">
                                                            <div class="page-header-title">
                                                                <div class="d-inline">
                                                                    <h4>Forgot your password?</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="page-header-breadcrumb">
                                                                <ul class="breadcrumb-title">
                                                                    <li class="breadcrumb-item" style="float: left;">
                                                                        <a href="/dashboard"> <i
                                                                                class="feather icon-home"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="breadcrumb-item" style="float: left;"><a
                                                                            href="/reset-password">Reset password</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="page-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5>Reset password of your Travel-partner account!
                                                                    </h5>
                                                                    <div class="card-header-right">
                                                                        <ul class="list-unstyled card-option">
                                                                            <li><i
                                                                                    class="feather icon-maximize full-card"></i>
                                                                            </li>
                                                                            <li><i
                                                                                    class="feather icon-minus minimize-card"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="card-block">
                                                                    <p>
                                                                        Please choose your new password:
                                                                    </p>
                                                                    <% if (errorMessage) { %>
                            
                                                                        <div class="col-md-10">
                                                                            <p class="text" style="color: red;font-weight:bold;border:none;text-align:center;">
                                                                                <%= errorMessage %>
                                                                            </p>
                                                                        </div>
                                                                    <%}%>
                                                                  
                                                                                <div class="card-block" >
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div id="wizard1">
                                                                                                <section>
                                                                                                    <form
                                                                                                        class="wizard-form"
                                                                                                        action="/api/change/password"
                                                                                                        method="post"
                                                                                                        enctype="application/x-www-form-urlencoded" id="myLoginForm">
                                                                                                        <h3> Reset password
                                                                                                        </h3>
                                                                                                        <fieldset>
                                                                                                            <div
                                                                                                                class="form-group row">
                                                                                                                <div
                                                                                                                    class="col-sm-12">
                                                                                                                    <label
                                                                                                                        for="email-2-1"
                                                                                                                        class="block">Email*</label>
                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="col-sm-6">
                                                                                                                    <input
                                                                                                                        id="emailInfo"
                                                                                                                        name="email"
                                                                                                                        type="email"
                                                                                                                        class=" form-control">
                                                                                                                        <span id="emailError" class="text-danger font-weight-bold error"></span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="form-group row">
                                                                                                                <div
                                                                                                                    class="col-sm-12">
                                                                                                                    <label
                                                                                                                        for="email-2-1"
                                                                                                                        class="block">New Password*</label>
                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="col-sm-6">
                                                                                                                    <input
                                                                                                                    id="txtPassword"
                                                                                                                        name="pass"
                                                                                                                        type="password"
                                                                                                                        class=" form-control">
                                                                                                                        <span id="passwordError" class="text-danger font-weight-bold error"></span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="form-group row">
                                                                                                                <div
                                                                                                                    class="col-sm-12">
                                                                                                                    <label
                                                                                                                        for="email-2-1"
                                                                                                                        class="block">Confirm Password*</label>
                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="col-sm-6">
                                                                                                                    <input
                                                                                                                    id="txtConfirmPassword"
                                                                                                                        type="password"
                                                                                                                        class=" form-control">
                                                                                                                        <span id="confrimPasswordError" class="text-danger font-weight-bold error"></span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="form-group row">
                                                                                                                <div
                                                                                                                    class="col-sm-6">
                                                                                                                    <button
                                                                                                                        class="btn btn-primary btn-round"
                                                                                                                        type="submit">Submit</button>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                        </fieldset>
                                                                                                    </form>
                                                                                                </section>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="styleSelector">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>

        <%- include('scripts'); %>

        <script type="text/javascript">
            $(document).ready(function() 
            {
                $('#myLoginForm').submit(function(event) 
                {
                  // Clear previous error messages
                  $('.error').text('');
                  var email = $('#emailInfo').val();
                  var password = $("#txtPassword").val();
                  var confirmPassword = $("#txtConfirmPassword").val();
                  var isValid = true;
                  let emailValidation = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                  
                    if (!email) 
                    {
                        $('#emailError').text('Email is required');
                        isValid = false;
                    }
                    else if (!emailValidation.test(email)) 
                    {
                        $('#emailError').text('Invalid email format');
                        isValid = false;
                    }

                    if (!password) 
                    {
                        $('#passwordError').text('Password is required');
                        isValid = false;
                    }
                    else
                    {
                        var symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
                        var numberRegex = /[0-9]/;
                        
                        if (!symbolRegex.test(password)) 
                        {
                          $('#passwordError').text('Password must contain at least one symbol (!@#$%^&*()_+-=[]{};\\:"|,.<>/?).');
                          isValid = false;
                        }
                        if (!numberRegex.test(password)) 
                        {
                          $('#passwordError').text('Password must contain at least one number.');
                          isValid = false;
                        }
        
                        if (password && password.toString().length > 15) 
                        {
                            $('#passwordError').text('Password maximum character limit is 15.');
                            isValid = false;
                        }
                    }

                    if(!confirmPassword)
                    {
                        $('#confrimPasswordError').text('Confirm Password is required');
                        isValid = false;
                    }
                    else
                    {
                        var symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
                        var numberRegex = /[0-9]/;
                        
                        if (!symbolRegex.test(confirmPassword)) 
                        {
                          $('#confrimPasswordError').text('Confirm Password must contain at least one symbol (!@#$%^&*()_+-=[]{};\\:"|,.<>/?).');
                          isValid = false;
                        }
                        if (!numberRegex.test(confirmPassword)) 
                        {
                          $('#confrimPasswordError').text('Confirm Password must contain at least one number.');
                          isValid = false;
                        }
        
                        if (confirmPassword && confirmPassword.toString().length > 15) 
                        {
                            $('#confrimPasswordError').text('Confirm Password maximum character limit is 15.');
                            isValid = false;
                        }
                    }

                    if (password != confirmPassword) 
                    {
                        $('#passwordError').text('Password does not match');
                        $('#confrimPasswordError').text('Password does not match');
                        isValid = false;
                    }
                    
                    if (!isValid) 
                    {
                        event.preventDefault(); // Prevent form submission
                    }
                });
            });
              
        </script>

        <script type="text/javascript">
            $(function () {
                $("#btnSubmit").click(function () {
                    var password = $("#txtPassword").val();
                    var confirmPassword = $("#txtConfirmPassword").val();
                    if (password != confirmPassword) {
                        $("#error").html("Password does not match");
                        return false;
                    }
                    return true;
                });
            });
        </script>

</body>

</html>