<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel partner | Dashboard page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <%- include('links'); %>
    <style>
            /* CSS for the upload icon */
            .image-container {
                position: relative;
                display: inline-block;
                display: block;
            }

            /* CSS for the image */
            .image-container img {
                max-width: 100%;
                height: auto;
            }

            .box {
                width: 60px;
                height: 60px;
                overflow: hidden;
                /* Ensures the image doesn't overflow the box */
                border: 2px solid rgba(46, 190, 226, 0.603);
                border-radius: 50%;
                overflow: hidden;
                /* Ensure the image doesn't overflow the box */
                position: relative;
                /* Required for absolute positioning of image */
                padding: 0px;
                margin: 0 10px;
            }

            .box img {
                width: 100%;
                /* Ensure the image fills the entire box horizontally */
                height: 100%;
                /* Ensure the image fills the entire box vertically */
                object-fit: cover;
                /* Ensure the image covers the entire box */
                position: absolute;
                /* Position the image relative to the box */
                top: 0;
                /* Align the image to the top */
                left: 0;
                /* Align the image to the left */
            }

            .user-title {
                position: relative;
                bottom: 12px;
            }

            .green-dot {
                width: 10px; /* adjust size as needed */
                height: 10px; /* adjust size as needed */
                background-color: green;
                border-radius: 50%; /* to make it circular */
                display: inline-block;
              }

              .red-dot {
                width: 10px; /* adjust size as needed */
                height: 10px; /* adjust size as needed */
                background-color: rgb(155, 2, 2);
                border-radius: 50%; /* to make it circular */
                display: inline-block;
              }

    </style>
</head>
<body>

    <%- include('loader'); %>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('topNav'); %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                        <%- include('sideNav'); %>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
    
                            <div class="main-body">
                                <div class="page-wrapper">
    
                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Travel-partner is a Social Travel Community & Experiences Marketplace</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item" style="float: left;">
                                                            <a href="/"> <i class="feather icon-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item" style="float: left;"><a
                                                                href="/dashboard">Dashboard</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Travel-partner is a Social Travel Community & Experiences Marketplace</h5>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="feather icon-maximize full-card"></i></li>
                                                                <li><i class="feather icon-minus minimize-card"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <p>
                                                            Travel-partner is Your Community-Powered Marketplace for Authentic Experiences. Here you can connect with like minded travelers, create your travel groups, book experiences and share your travel stories. We have connected more then 50K+ travelers with each other, every month 2000+ travelers are joining our community meet-ups, icebreaking sessions, experiences and trips. That’s not all, with Travel Buddy you take advice from locals, we have 3000+ verified locals who can help you on your travel journey. We are building Bharat’s fastest growing network of travellers & aspires to be their Partner in Every Stage of their Journey.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="page-body">
                                        <% if(userDetails && userDetails.length > 0) {
                                            userDetails.forEach(function(user) { %>
                                        
                                        <div class="row simple-cards users-card">
                                            <div class="col-md-12 col-xl-4">
                                                <div class="card user-card">
                                                    <div class="card-header-img">
                                                            <div class="row">
                                                                <div class="col-lg-2">
                                                                    <% if(user && user.image) { %>
                                                                    <div class="image-container">
                                                                        <div class="box">
                                                                            <img class="img-fluid img-radius"
                                                                            src='../images/uploads/<%= user.image.profilePicId %>/<%= user.image.profilePicName %>' ; alt="card-img">
                                                                        </div>
                                                                    </div>
                                                                    <% } else {%>
                                                                        <div class="image-container">
                                                                            <div class="box">
                                                                                <img class="img-fluid img-radius" src='../images/human.png' ; alt="card-img">
                                                                            </div>
                                                                        </div>
                                                                    <% }%>
                                                                </div>
                                                                <div class="col-lg-8">
                                                                    <div class="user-title">
                                                                        <h4>
                                                                            <%= user.userName %>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <% if(user && user.login == 1) { %>
                                                                    <div class="col-lg-1">
                                                                        <div class="green-dot"></div>
                                                                    </div> 
                                                                <% } else {%>
                                                                    <div class="col-lg-1">
                                                                        <div class="red-dot"></div>
                                                                    </div>
                                                                <% }%>
                                                            </div>
                                                           
                                                        <h5><a href="mailto:<%= user.email %>"
                                                                ><%= user.email %></a>
                                                        </h5>
                                                    </div>
                                                    <div style="margin-top: 10px;">
                                                        <% if(user.followUsers &&  user.followUsers.length > 0) {
                                                            user.followUsers.forEach(function(followUser) {  %>

        
                                                                <% if(followUser.followerId == user.mainUserId && followUser.followingId == user.id && followUser.userId == user.mainUserId && followUser.requested == 1) { %>
                                                                    <button type="button" id="requestedForUnfollowUsers"
                                                                    class="btn btn-primary waves-effect waves-light m-r-15 requestedForUnfollowUsers" data-user-id="<%= user.id %>"><i class="fa fa-times"></i>Remove</button>
                                                                    <% } else if (followUser.followerId == user.mainUserId && followUser.followingId == user.id && followUser.userId != user.mainUserId && followUser.requested == 1) { %>
                                                                        <button type="button" 
                                                                        class="btn btn-primary waves-effect waves-light m-r-15 " data-user-id="<%= user.id %>"><i class="fa fa-thumbs-up"></i>Requested</button>
                                                                        <% } else if (followUser.followerId == user.mainUserId && followUser.followingId == user.id && followUser.requested == 0) { %>
                                                                            <button type="button"  id="followUsers"
                                                                            class="btn btn-primary waves-effect waves-light m-r-15 followUser" data-user-id="<%= user.id %>"><i class="fa fa-user-plus"></i>Follow</button>
                                                                           
                                                                            <% } else if( followUser.followerId == followUser.userId && (followUser.requested == 1 || followUser.requested == 0)) {%>
                                                                                <button type="button"  id="followUsers"
                                                                            class="btn btn-primary waves-effect waves-light m-r-15 followUser" data-user-id="<%= user.id %>"><i class="fa fa-user-plus"></i>Follow</button>
                                                                            <% }%>
                                                                           
                                                                                <%  }); } else { %>
                                                                    <button type="button" id="followUsers"
                                                                    class="btn btn-primary waves-effect waves-light m-r-15 followUser" data-user-id="<%= user.id %>"><i class="fa fa-user-plus"></i>Follow</button>
                                                                    <% }%>

                                                        <button type="button"
                                                            class="btn btn-success waves-effect waves-light"><a href="/userprofile/<%= user.id %>" style="color:white;"><i
                                                                class="icofont icofont-user m-r-5"></i>Profile</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <% }); } else { %>

                                            <div class="page-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>There is no users to see!</h5>
                                                                <div class="card-header-right">
                                                                    <ul class="list-unstyled card-option">
                                                                        <li><i class="feather icon-maximize full-card"></i></li>
                                                                        <li><i class="feather icon-minus minimize-card"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }%>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('scripts'); %>

<script>

    function callAPI(followingId) 
        {
            document.querySelector(`button[data-user-id="${followingId}"]`).disabled = true;

            const requestBody = {
                followingId: followingId,
                followerId: '<%= id %>',
                uuid : '<%= uuid %>',
                userId : '<%= id %>'
            };

            console.log('requestBody', requestBody)

            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            };

            fetch('/follow/users/', options)
                .then(response =>
                {
                    if (!response.ok)
                    {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data =>
                {
                    console.log(data);

                    if(data && data.status == 1)
                    {
                        document.getElementById('followUsers').innerText = 'Remove';

                        alert('Request sent to the user!')
                    }
                    else
                    {
                        alert(data.message)
                    }

                })
                .catch(error =>
                {
                    console.error('There was a problem with the API request:', error);

                    alert('There was a problem with the API request:', error)
                })
        }

        document.querySelectorAll('.followUser').forEach(button =>
        {
            button.addEventListener('click', () =>
            {
                const followingId = button.getAttribute('data-user-id');
                callAPI(followingId);
            });
        });
   
</script>

<script>

    function requestedForUnfollowUsers(followingId) 
    {
        document.querySelector(`button[data-user-id="${followingId}"]`).disabled = true;

        const requestBody = {
            followingId: followingId,
            followerId: '<%= id %>',
            userId : '<%= id %>',
            uuid : '<%= uuid %>'
        };

        console.log('requestBody', requestBody)

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        };

        fetch('/update/unfollow/users/', options)
            .then(response =>
            {
                if (!response.ok)
                {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data =>
            {
                console.log(data);

                if(data && data.status == 1)
                {
                    document.getElementById('requestedForUnfollowUsers').innerText = 'Follow';

                    alert('User has unfollowed the account!')
                }
                else
                {
                    alert(data.message)
                }

            })
            .catch(error =>
            {
                console.error('There was a problem with the API request:', error);

                alert('There was a problem with the API request:', error)
            })
    }

    document.querySelectorAll('.requestedForUnfollowUsers').forEach(button =>
    {
        button.addEventListener('click', () =>
        {
            const followingId = button.getAttribute('data-user-id');
            requestedForUnfollowUsers(followingId);
        });
    });
   
</script>

</body>

</html>