<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel partner | Find a partner page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <%- include('links'); %>
    <style>
        /* use a hand cursor intead of arrow for the action buttons */
        .filepond--file-action-button {
            cursor: pointer;
        }
    
        /* the text color of the drop label*/
        .filepond--drop-label {
            color: #555;
        }
    
        /* underline color for "Browse" button */
        .filepond--label-action {
            text-decoration-color: #aaa;
        }
    
        /* the background color of the filepond drop area */
        .filepond--panel-root {
            background-color: #9ea4ac;
        }
    
        /* the border radius of the drop area */
        .filepond--panel-root {
            border-radius: 0.5em;
        }
    
        /* the border radius of the file item */
        .filepond--item-panel {
            border-radius: 0.5em;
        }
    
        /* the background color of the file and file panel (used when dropping an image) */
        .filepond--item-panel {
            background-color: #555;
        }
    
        /* the background color of the drop circle */
        .filepond--drip-blob {
            background-color: #999;
        }
    
        /* the background color of the black action buttons */
        .filepond--file-action-button {
            background-color: rgba(0, 0, 0, 0.5);
        }
    
        /* the icon color of the black action buttons */
        .filepond--file-action-button {
            color: white;
        }
    
        /* the color of the focus ring */
        .filepond--file-action-button:hover,
        .filepond--file-action-button:focus {
            box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
        }
    
        /* the text color of the file status and info labels */
        .filepond--file {
            color: white;
        }
    
        /* error state color */
        [data-filepond-item-state*='error'] .filepond--item-panel,
        [data-filepond-item-state*='invalid'] .filepond--item-panel {
            background-color: red;
        }
    
        [data-filepond-item-state='processing-complete'] .filepond--item-panel {
            background-color: green;
        }
    
        /* bordered drop area */
        .filepond--panel-root {
            background-color: transparent;
            border: 2px solid #2c3340;
        }
    
        .filepond--item {
            width: calc(50% - 0.5em);
        }
    
        @media (min-width: 30em) {
            .filepond--item {
                width: calc(50% - 0.5em);
            }
        }
    
        @media (min-width: 50em) {
            .filepond--item {
                width: calc(33.33% - 0.5em);
            }
        }
        
        #suggestions-list {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            width: calc(100% - 2px); /* Adjust width to match the input box */
            z-index: 999; /* Set a higher z-index */
        }
    
        #suggestions-list li {
            padding: 5px 10px;
            cursor: pointer;
        }
    
        #suggestions-list li:hover {
            background-color: #f0f0f0;
        }

        #tripSuggestions-list {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            width: calc(100% - 2px); /* Adjust width to match the input box */
            z-index: 999; /* Set a higher z-index */
        }
    
        #tripSuggestions-list li {
            padding: 5px 10px;
            cursor: pointer;
        }
    
        #tripSuggestions-list li:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

    <%- include('loader'); %>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('topNav'); %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                        <%- include('sideNav'); %>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
    
                            <div class="main-body">
                                <div class="page-wrapper">
    
                                    <div class="page-body breadcrumb-page">

                                        <div class="card borderless-card">
                                            <div class="card-block primary-breadcrumb">
                                                <div class="breadcrumb-header">
                                                    <h5>Travel-partner is a Social Travel Community & Experiences Marketplace</h5>
                                                    <span>Here we can find the buddy and you can share the post into the community.</span>
                                                </div>
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item" style="float: left;">
                                                            <a href="/">
                                                                <i class="icofont icofont-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item" style="float: left;"><a
                                                            href="/travel-posts">Travel posts</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                    
                                                <div class="tab-header card">
                                                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#findPartner" role="tab">Edit the travel post
                                                                </a>
                                                            <div class="slide"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                    
                                    
                                                <div class="tab-content">

                                                    <!-- find a partner -->
                                                    <div class="tab-pane active" id="findPartner" role="tabpanel">
                                                        <div class="page-body gallery-page">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5>Find a partner to travel</h5>
                                                                        </div>
                                                                        <div class="card-block">
                                                                            <div>
                                                                                <div class="row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="general-info">
                                                                                            <% if(postInfo && postInfo != null ) { %>
                                                                                            <form action="/api/edit/find/post" method="post" enctype="application/x-www-form-urlencoded" id="myFindPostForm" name="myFindPostForm" >
                                                                                            
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-4 col-form-label">Trip location</label>
                                                                                                    <div class="col-sm-8">
                                                                                                        <input type="text" class="form-control" id="tripLocation" name="tripLocation" value="<%= postInfo.tripLocation %>">
                                                                                                        <ul id="tripSuggestions-list"></ul>
                                                                                                        <span id="errorTripLocation" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-4 col-form-label">Trip Date</label>
                                                                                                    <div class="col-sm-8">
                                                                                                        <input type="date" class="form-control" id="tripDate" name="tripDate" value="<%= postInfo.tripDate %>">
                                                                                                        <span id="errorTripDate" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-4 col-form-label">Trip
                                                                                                        description
                                                                                                    </label>
                                                                                                    <div class="col-sm-8">
                                                                                                        <textarea class="form-control max-textarea" maxlength="255" rows="4" id="TripDescrip" name="TripDescrip" ><%= postInfo.tripDescription %></textarea>
                                                                                                        <span id="errorTripDescription" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
            
                                                                                                <div class="form-group row">
                                                                                                    <div class="col-sm-8">
                                                                                                        <input type="hidden" name="uuid" value="<%= uuid %>">
                                                                                                        <input type="hidden" name="userId" value="<%= id %>">
                                                                                                        <input type="hidden" name="findPostId" value="<%= postInfo.id %>">
                                                                                                    </div>
                                                                                                </div>
                                                                                            
                                                                                                <div class="text-center">
                                                                                                    <button  class="btn btn-primary waves-effect waves-light m-r-20" type ="submit">Save</button>
                                                                                                    <a href="/travel-posts" id="edit-cancel" class="btn btn-default waves-effect">Cancel</a>
                                                                                                </div>

                                                                                                <div class="form-group row">

                                                                                                </div>

                                                                                                <div class="form-group row">
                                                                                                    
                                                                                                </div>
                                                                                            
                                                                                            </form>
                                                                                            <% }%>
                                                                                        </div>
                                                                        
                                                                                    </div>
                                                                        
                                                                                </div>
                                                                        
                                                                            </div>
                                                                        </div>
                                                
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('scripts'); %>

<% if (errorMessage) { %>
<script>
    'use strict'; $(window).on('load',
        function ()
        {
            function notify(message) 
            {
                $.growl({ message: message, icon: $(this).attr('data-icon'), title: ' Error message is : ', },
                    {
                        element: 'body',
                        type: $(this).attr('data-type'),
                        allow_dismiss: false,
                        offset: { x: 30, y: 30 },
                        spacing: 10,
                        z_index: 999999,
                        delay: 8500,
                        timer: 1000,
                        icon_type: 'class',
                        placement: { from: $(this).attr('data-from'), align: $(this).attr('data-align') },
                        animate: { enter: $(this).attr('data-animation-in'), exit: $(this).attr('data-animation-out')},
                        template: '<div data-growl="container" class="alert" role="alert" style="border:3px solid red;width:30%;">' +
                            '<button type="button" class="close" data-growl="dismiss">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '<span class="sr-only">Close</span>' +
                            '</button>' +
                            '<span data-growl="icon"></span>' +
                            '<span data-growl="title" style="color:black;"></span>' +
                            '<span data-growl="message" style="color:red;"></span>' +
                            '</div>'
                    });
            };
           
            notify( "<%= errorMessage %>");
        });


</script>
<%}%>

<script>

    $(document).ready(function() {
        // Get today's date in YYYY-MM-DD format
        var today = new Date().toISOString().split('T')[0];
        // Set the minimum date attribute of the date input to today
        $('#tripDate').attr('min', today);
    });
   
</script>

<script>
    $(document).ready(function ()
    {
        function notify(message) 
        {
            $.growl({ message: message, icon: $(this).attr('data-icon'), title: ' Error message is : ', },
                {
                    element: 'body',
                    type: $(this).attr('data-type'),
                    allow_dismiss: false,
                    offset: { x: 30, y: 30 },
                    spacing: 10,
                    z_index: 999999,
                    delay: 8500,
                    timer: 1000,
                    icon_type: 'class',
                    placement: { from: $(this).attr('data-from'), align: $(this).attr('data-align') },
                    animate: { enter: $(this).attr('data-animation-in'), exit: $(this).attr('data-animation-out') },
                    template: '<div data-growl="container" class="alert" role="alert" style="border:3px solid red;width:30%;">' +
                        '<button type="button" class="close" data-growl="dismiss">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '<span class="sr-only">Close</span>' +
                        '</button>' +
                        '<span data-growl="icon"></span>' +
                        '<span data-growl="title" style="color:black;"></span>' +
                        '<span data-growl="message" style="color:red;"></span>' +
                        '</div>'
                });
        };

        $('#myFindPostForm').on('submit', function (event)
        {
            event.preventDefault(); // Prevent form submission

            let isValid = true;

            // Validate Name
            let tripLocation = $('#tripLocation').val();
            let tripDate = $('#tripDate').val();
            let tripDescription = $('#TripDescrip').val();


            if (!tripLocation)
            {
                notify("Trip Location is required");
                isValid = false;
            }

            if (!tripDate)
            {
                notify("Trip Date is required");
                isValid = false;
            }

            if (!tripDescription) 
            {
                notify("Trip Description is required.");
                isValid = false;
               
            }
            else if (tripDescription.toString().length < 5) 
            {
                notify("Trip Description minimum character limit is 5.");
                isValid = false;
            }
            else if (tripDescription.toString().length > 1000) 
            {
                notify("Trip Description maximum character limit is 1000.");
                isValid = false;
            }

            // If the form is valid, submit it
            if (isValid)
            {
                this.submit();
            }
        });

    });

</script>


<script>
    const tripLocation = document.getElementById('tripLocation');
    const tripSuggestionsList = document.getElementById('tripSuggestions-list');

    tripLocation.addEventListener('input', triphandleInput);
    tripLocation.addEventListener('keyup', triphandleInput);

    async function triphandleInput()
    {
        const userInput = tripLocation.value.trim().toLowerCase();
        if (userInput.length > 0)
        {
            tripfetchLocations(userInput);
        } 
        else
        {
            cleartripSuggestions();
        }
    }

    async function tripfetchLocations(userInput)
    {
        const apiKey = '49ce4908b7ee4c9a84810d565963e661';
        const apiUrl = `https://api.opencagedata.com/geocode/v1/json?q=${userInput}&key=${apiKey}`;

        try
        {
            const response = await fetch(apiUrl);

            if (!response.ok)
            {
                throw new Error('Failed to fetch data');
            }

            const data = await response.json();
            displaytripSuggestions(data.results);
        } 
        catch (error)
        {
            console.error('Error fetching locations:', error);
        }
    }

    function displaytripSuggestions(suggestions)
    {
        tripSuggestionsList.innerHTML = '';

        suggestions.forEach(suggestion =>
        {
            const listItem = document.createElement('li');
            listItem.textContent = suggestion.formatted;
            tripSuggestionsList.appendChild(listItem);

            // Add click event listener to each suggestion item
            listItem.addEventListener('click', function ()
            {
                tripLocation.value = suggestion.formatted;
                cleartripSuggestions();
            });
        });

        tripSuggestionsList.style.display = 'block';
    }

    function cleartripSuggestions()
    {
        tripSuggestionsList.innerHTML = '';
        tripSuggestionsList.style.display = 'none';
    }
</script>

</body>
</html>