<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel partner | Find a partner page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <%- include('links'); %>
</head>
<body>

    <%- include('loader'); %>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('topNav'); %>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                        <%- include('sideNav'); %>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
    
                            <div class="main-body">
                                <div class="page-wrapper">
    
                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Travel-partner is a Social Travel Community & Experiences Marketplace</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item" style="float: left;">
                                                            <a href="/"> <i class="feather icon-home"></i>
                                                            </a>
                                                        </li>
                                                        <li class="breadcrumb-item" style="float: left;"><a
                                                                href="/dashboard">Dashboard</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Travel-partner is a Social Travel Community & Experiences Marketplace</h5>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="feather icon-maximize full-card"></i></li>
                                                                <li><i class="feather icon-minus minimize-card"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <p>
                                                            Travel-partner is Your Community-Powered Marketplace for Authentic Experiences. Here you can connect with like minded travelers, create your travel groups, book experiences and share your travel stories. We have connected more then 50K+ travelers with each other, every month 2000+ travelers are joining our community meet-ups, icebreaking sessions, experiences and trips. That’s not all, with Travel Buddy you take advice from locals, we have 3000+ verified locals who can help you on your travel journey. We are building Bharat’s fastest growing network of travellers & aspires to be their Partner in Every Stage of their Journey.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('scripts'); %>

</body>

</html>