<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel partner | Feeds page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <%- include('links'); %>
 <style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
      }
  
      .post-card {
        width: 450px;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
      }
  
      .post-header {
        display: flex;
        align-items: center;
        padding: 10px;
      }
  
      .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      .username {
        font-weight: bold;
      }
  
      .location {
        width: 200px;
        margin-left: 5px;
        color: #8e8e8e;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .post-image-container {
        position: relative;
        overflow: hidden;
      }

      .post-image-container img {
        max-width: 100%;
        max-height: 100%;
    }
  
      .post-image-slider {
        display: flex;
        transition: transform 0.5s ease;
      }
  
      .post-image {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Adjust the object-fit property */
        object-position: center; /* Center the image within the container */
      }
  
      .post-footer {
        padding: 10px;
        border-top: 1px solid #dbdbdb;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .like-btn,
      .comment-btn {
        background: none;
        border: none;
        cursor: pointer;
        color: #262626;
      }
  
      .heart-icon,
      .comment-icon {
        margin-right: 5px;
      }
  
      .description {
        padding: 10px;
      }
  
      .arrow-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
        color: #262626;
        padding: 5px;
        border-radius: 50%;
        z-index: 2;
      }
  
      .left-arrow {
        left: 10px;
      }
  
      .right-arrow {
        right: 10px;
      }
  
      .hidden {
        display: none;
      }

      .dotsIcons {
            padding: 10px;
      }

       /* Optional: Adjust for smaller screens */
  @media screen and (max-width: 900px) {
    .post-card {
      width: calc(50% - 20px);
      /* Adjust margin/padding accordingly */
    }
  }

  @media screen and (max-width: 600px) {
    .post-card {
      width: calc(100% - 20px);
      /* Adjust margin/padding accordingly */
    }
  }


  .like-btn.liked .heart-icon {
    color: red;
    /* When liked, turn red */
  }
    
 </style>
</head>
<body>

    <%- include('loader'); %>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <%- include('topNav'); %>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <%- include('sideNav'); %>
                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
    
                                    <div class="main-body">
                                        <div class="page-wrapper">
    
                                            <div class="page-header">
                                                <div class="row align-items-end">
                                                    <div class="col-lg-8">
                                                        <div class="page-header-title">
                                                            <div class="d-inline">
                                                                <h4>Travel-partner is a Social Travel Community &
                                                                    Experiences Marketplace</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="page-header-breadcrumb">
                                                            <ul class="breadcrumb-title">
                                                                <li class="breadcrumb-item" style="float: left;">
                                                                    <a href="/"> <i class="feather icon-home"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="breadcrumb-item" style="float: left;"><a
                                                                        href="/posts">Feeds</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="page-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Social media feeds</h5>
                                                                <div class="card-header-right">
                                                                    <ul class="list-unstyled card-option">
                                                                        <li><i class="feather icon-maximize full-card"></i>
                                                                        </li>
                                                                        <li><i class="feather icon-minus minimize-card"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="card-block">
                                                                <p>
                                                                    Your social media feeds are like a curated window into
                                                                    the world, offering glimpses into the lives, thoughts,
                                                                    and experiences of those you follow. They're a dynamic
                                                                    tapestry of updates, photos, videos, and stories that
                                                                    reflect the diversity of interests, opinions, and
                                                                    activities of your online community.
                                                                </p>
                                                                <p>
                                                                    Scrolling through your feeds can feel like embarking on
                                                                    a journey, where each post is a unique destination,
                                                                    inviting you to laugh, learn, empathize, or simply
                                                                    connect with others. From the latest news and trends to
                                                                    personal anecdotes and shared moments, your feeds serve
                                                                    as a digital mosaic, constantly evolving and shaping
                                                                    your online experience.
                                                                </p>
                                                                <p>
                                                                    Whether you're seeking inspiration, entertainment, or a
                                                                    sense of belonging, your social media feeds provide a
                                                                    virtual sanctuary where you can engage with friends,
                                                                    family, and like-minded individuals from around the
                                                                    globe. They're not just a collection of updates but a
                                                                    reflection of the interconnectedness of our digital age,
                                                                    where every like, comment, and share contributes to the
                                                                    vibrant tapestry of online culture.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
    
                                            <div class="page-body">
                                                <div class="card-container">
                                                    <% if(postInfo && postInfo.length> 0) {
                                                        postInfo.forEach(function(post) { %>
                                            
                                                        <!-- <div class="post-card">
                                                                                                        <div class="post-header">
                                                                                                            <img src="../images/uploads/<%= post.profilePicId %>/<%= post.profilePicName %>"
                                                                                                                alt="<%= post.profilePicName %>" class="profile-picture">
                                                                                                            <span class="username">
                                                                                                                <%= post.userName %>
                                                                                                            </span>
                                                                                                        </div>
                                            
                                                                                                        <% if(post && post.postImages.length> 0) {
                                                                                                            post.postImages.forEach(function(postImage) { %>
                                                                                                            <div class="slideshow-container">
                                                                                                                <div class="mySlides fade">
                                                                                                                    <img src="../gallery/<%= postImage.postFieldId %>/<%= postImage.postFileName %>"  alt="<%= postImage.postFileName %>" style="width:100%"
                                                                                                                        class="post-image">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        <% }); } %>
                                                                                                        
                                                                                                        <div style="text-align:center">
                                                                                                            <a class="prev" onclick="prevSlide(this)">&#10094;</a>
                                                                                                            <a class="next" onclick="nextSlide(this)">&#10095;</a>
                                                                                                           
                                                                                                        </div>
                                                                                                        <div class="post-footer">
                                                                                                            <div class="action-buttons">
                                                                                                                <a class="like-btn" id="likeButton"><i class="fa fa-heart-o heart-icon "></i><span
                                                                                                                        class="likes-count" id="likeCount"> 0</span> likes</a>
                                                                                                                <button class="comment-btn" data-toggle="modal"
                                                                                                                    data-target="#large-Modal"><i class="fa fa-comments-o"></i> comments</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div> -->
                                                      
                                                        <div class="post-card">
                                                            <div class="post-header">
                                                                <img src="../images/uploads/<%= post.profilePicId %>/<%= post.profilePicName %>"
                                                                    alt="<%= post.profilePicName %>" class="profile-picture">
                                                                <span class="username">
                                                                    <%= post.userName %>
                                                                </span>
                                                                <span class="location" id="location">is at 
                                                                    <a class="mytooltip" href="javascript:void(0)">
                                                                        <%= post.location %>
                                                                            <span class="tooltip-content5">
                                                                                <span class="tooltip-text3">
                                                                                    <span class="tooltip-inner2">
                                                                                        <%= post.location %>
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                    </a>
                                                                </span>
                                                                <div class="user-profile header-notification dotsIcons">
                                                                    <div class="dropdown-primary dropdown">
                                                                        <div class="dropdown-toggle" data-toggle="dropdown">
                                                                            <!-- Use the three dots icon instead of dropdown icon -->
                                                                            <i class="fa fa-ellipsis-v"></i>
                                                                        </div>
                                                                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn"
                                                                            data-dropdown-out="fadeOut" style="padding: 10px;">
                                                                            <li>
                                                                                <a href="#">
                                                                                    <i class="fa fa-edit"></i> Edit
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <i class="fa fa-trash"></i> Delete
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                           
                                                                <div class="post-image-container">
                                                                    <span class="arrow-icon left-arrow hidden">&#10094;</span>
                                                                    <span class="arrow-icon right-arrow hidden">&#10095;</span>
                                                                    <div class="post-image-slider">
                                                                        <% if(post && post.postImages.length> 0) {
                                                                            post.postImages.forEach(function(postImage) { %>
                                                                            <img src="../gallery/<%= postImage.postFieldId %>/<%= postImage.postFileName %>"
                                                                                alt="<%= postImage.postFileName %>" class="post-image">
                                                                            <% }); } %>
                                                                    </div>
                                                                </div>
                                                               
                                                                    <div class="description">
                                                                        <%= post.description %>
                                                                    </div>

                                                                    <div class="post-footer">
                                                                        <a class="like-btn"  id="likeButton" data-post-id="<%= post.id %>"><i class="fa fa-heart-o heart-icon"></i><span class="likes-count"
                                                                            id="likeCount"> <%= post.likesCount %></span> Like</a>
                                                                        <button class="comment-btn"><i class="fa fa-comments-o"></i> Comment</button>
                                                                    </div>
                                                        </div>
                                                        <% }); } else { %>
                                                            <div class="page-body">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="card">
                                                                            <div class="card-header">
                                                                                <h5>There is no feeds here to see!</h5>
                                                                                <div class="card-header-right">
                                                                                    <ul class="list-unstyled card-option">
                                                                                        <li><i class="feather icon-maximize full-card"></i>
                                                                                        </li>
                                                                                        <li><i class="feather icon-minus minimize-card"></i>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }%>
                                                </div>
                                            
                                            </div>
    
                                        </div>
                                    </div>
                                    <div id="styleSelector">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>

<%- include('scripts'); %>

<script>
    var description = document.getElementById('description');
    // Set the maximum length of the description
    var maxLength = 25;
  
    // Check if the description exceeds the maximum length
    if (description.textContent.length > maxLength) {
      // Truncate the description and add three dots
      var truncatedText = description.textContent.substring(0, maxLength) + '...';
      // Update the description content
      description.textContent = truncatedText;
    }
</script>

<script>
    document.querySelectorAll('.post-card').forEach(card =>
    {
        const slider = card.querySelector('.post-image-slider');
        const images = card.querySelectorAll('.post-image');
        const leftArrow = card.querySelector('.left-arrow');
        const rightArrow = card.querySelector('.right-arrow');

        if (images.length > 1)
        {
            leftArrow.classList.remove('hidden');
            rightArrow.classList.remove('hidden');
        }

        let currentSlide = 0;

        leftArrow.addEventListener('click', () =>
        {
            if (currentSlide === 0)
            {
                currentSlide = images.length - 1;
            } else
            {
                currentSlide--;
            }
            updateSlider();
        });

        rightArrow.addEventListener('click', () =>
        {
            if (currentSlide === images.length - 1)
            {
                currentSlide = 0;
            } else
            {
                currentSlide++;
            }
            updateSlider();
        });

        function updateSlider()
        {
            slider.style.transform = `translateX(-${currentSlide * 100}%)`;
        }
    });
</script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.like-btn').forEach(function(button) {
            let postId = button.dataset.postId;

            var requestData = {
                id: "<%= id %>", // Example user ID, replace with your actual parameter
                postId : postId
            };
    
            // Make an initial API call to check if the post is liked
            fetch('/api/like', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData) // Send post ID in the request body
            })
            .then(response =>
            {
                if (response.ok)
                {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {

                if (data && data.postLikeList && data.postLikeList.isLike === 1) 
                {
                    // If post is liked, turn the like button red
                    button.classList.add('liked');
                } else {
                    // If post is not liked, turn the like button black
                    button.classList.remove('liked');
                }
            })
            .catch(error => {
                alert('Error checking like status:', error)
                console.error('Error checking like status:', error);
            });
        });
    });
    
  </script>

<script>
    document.querySelectorAll('.like-btn').forEach(function (button)
    {
        button.addEventListener('click', function ()
        {
            let isLiked = this.classList.contains('liked');
            let likeCountElement = this.querySelector('.likes-count');
            let likeCount = parseInt(likeCountElement.textContent);
            let postId = button.dataset.postId;

            // Simulate API call URL (replace with your actual API endpoints)
            let apiUrl = isLiked ? '/api/update/unlike' : '/api/update/like';

            var requestData = {
                id: "<%= id %>", // Example user ID, replace with your actual parameter
                postId: postId,
                uuid: "<%= uuid %>"
            };

            // Simulate fetch call
            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData) // Send post ID in the request body
            })
                .then(response =>
                {
                    if (response.ok)
                    {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data =>
                {

                    if (data && data.status === 1) 
                    {
                        // If post is liked, turn the like button red
                        if (isLiked)
                        {
                            likeCount--;
                            button.classList.remove('liked');
                        } else
                        {
                            likeCount++;
                            button.classList.add('liked');
                        }
                        likeCountElement.textContent = likeCount; // Update like count
                    }
                })
                .catch(error =>
                {
                    console.error('Error:', error);
                });
        });
    });
</script>

</body>

</html>