<!DOCTYPE html>
<html lang="en">

<head>
    <title>User profile - Travel-partner</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    <%- include('links'); %>
        <style>
            /* CSS for the upload icon */
            .image-container {
                position: relative;
                display: inline-block;
                display: block;
            }

            /* CSS for the image */
            .image-container img {
                max-width: 100%;
                height: auto;
            }

            .box {
                width: 150px;
                height: 150px;
                overflow: hidden;
                /* Ensures the image doesn't overflow the box */
                border: 2px solid rgba(46, 190, 226, 0.603);
                border-radius: 5%;
                overflow: hidden;
                /* Ensure the image doesn't overflow the box */
                position: relative;
                /* Required for absolute positioning of image */
            }

            .box img {
                width: 100%;
                /* Ensure the image fills the entire box horizontally */
                height: 100%;
                /* Ensure the image fills the entire box vertically */
                object-fit: cover;
                /* Ensure the image covers the entire box */
                position: absolute;
                /* Position the image relative to the box */
                top: 0;
                /* Align the image to the top */
                left: 0;
                /* Align the image to the left */
            }

            .upload-card {
                width: 600px;
                padding: 30px;
                margin: 0 auto;
                background-color: #f5f5f5;
            }

            .imagePreview {
                width: 38px;
                height: 38px;
                border-radius: 4px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 15px;
            }

            .file-upload {
                display: flex;
                align-items: center;
                padding: 15px;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
                margin-bottom: 15px;
                position: relative;
                border-radius: 4px;
                background-color: #fff;
            }

            .file-select {
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
            }


            .file-select-name {
                margin-left: 15px;
            }

            .file-select input[type=file] {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
            }

            .file-remove {
                margin-left: 15px;
                position: absolute;
                right: 15px;
                top: 20px;
            }

            #imageContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            /* Style for each image */
            #imageContainer img {
                width: 270px;
                /* Adjust the width as needed */
                height: auto;
                /* Maintain aspect ratio */
                margin: 10px;
                /* Add space between images */
                cursor: pointer;
                /* Show pointer cursor */
            }

            /* Modal styles */
            .modal {
                display: none;
                /* Hidden by default */
                position: fixed;
                /* Position the modal */
                z-index: 1000;
                /* Ensure modal is above other content */
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                /* Enable scrolling if needed */
                background-color: rgba(0, 0, 0, 0.8);
                /* Black background with opacity */
            }

            /* Modal content */
            .modal-content {
                margin: 10% auto;
                /* Center modal on screen */
                width: 600px; /* Adjust the width and height according to your container */
                height: 500px;    
                /* Height of modal content (40% of viewport height) */
                position: relative;
                text-align: center;
                color: #fff;
                /* Text color */
                overflow: hidden;
                /* Hide overflow content */
            }

            /* Close button */
            .close {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
            }

            /* Image inside modal */
            .modal-content img {
                width: 100%;
                height: 100%;
            }

            /* Navigation buttons */
            .nav-button {
                background-color: rgba(255, 255, 255, 0.5);
                /* Semi-transparent white */
                color: #000;
                /* Text color */
                border: none;
                padding: 10px 20px;
                margin: 10px;
                cursor: pointer;
                border-radius: 5px;
                position: absolute;
                bottom: 10px;
            }

            /* Style for Previous button */
            #prevButton {
                left: 20px;
                /* Position to the left */
            }

            /* Style for Next button */
            #nextButton {
                right: 20px;
                /* Position to the right */
            }
          
        </style>
</head>

<body>

    <%- include('loader'); %>

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <%- include('topNav'); %>
                    <div class="pcoded-main-container">
                        <div class="pcoded-wrapper">
                            <%- include('sideNav'); %>
                                <div class="pcoded-content">
                                    <div class="pcoded-inner-content">

                                        <div class="main-body">
                                            <div class="page-wrapper">

                                                <div class="page-body breadcrumb-page">

                                                    <div class="card borderless-card">
                                                        <div class="card-block primary-breadcrumb">
                                                            <div class="breadcrumb-header">
                                                                <h5>Travel-partner is a Social Travel Community & Experiences Marketplace</h5>
                                                                <span>A dynamic individual with diverse interests and a passion for continuous growth</span>
                                                            </div>
                                                            <div class="page-header-breadcrumb">
                                                                <ul class="breadcrumb-title">
                                                                    <li class="breadcrumb-item" style="float: left;">
                                                                        <a href="/">
                                                                            <i class="icofont icofont-home"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="breadcrumb-item" style="float: left;"><a
                                                                            href="/user-profile">User profile</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="page-body">

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="cover-profile">
                                                                <div class="profile-bg-img">
                                                                    <img class="profile-bg-img img-fluid"
                                                                        src="../images/bg-img1.jpg" alt="bg-img">
                                                                    <div class="card-block user-info">
                                                                        <div class="col-md-12">
                                                                            <form>
                                                                                <div class="media-left image-container">
                                                                                    <div class="box">
                                                                                        <img class="user-img img-radius" id="myImage" src="#" alt="user-img">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="media-body row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="user-title">
                                                                                            <h2 id="userName"></h2>
                                                                                            <span
                                                                                                class="text-white"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div>
                                                                                        <div
                                                                                            class=" cover-btn">
                                                                                            <% if(userInfo && userInfo.followUsers.length > 0) {
                                                                                                userInfo.followUsers.forEach(function(followUser) {  %>
                                                                                                    <% if(followUser.followerId == id && followUser.followingId == userId && followUser.userId == id && followUser.requested == 1 && followUser.isFollow == 0 && userInfo.id != id) { %>
                                                                                                        <button type="button" id="requestedForUnfollowUsers"
                                                                                                        class="btn btn-primary m-r-10 m-b-5 requestedForUnfollowUsers buttonInfo" data-user-id="<%= userId %>"><i class="fa fa-times"></i>Remove</button>
                                                                                                    <% } else if (followUser.followerId == id && followUser.followingId == userId && followUser.userId != id && followUser.requested == 1 && followUser.isFollow == 0 &&  userInfo.id != id) { %>
                                                                                                        <button type="button" id="requestedForfollowUsers"
                                                                                                        class="btn btn-primary m-r-10 m-b-5 requestedForfollowUsers buttonInfo" data-user-id="<%= userId %>"><i class="fa fa-thumbs-up"></i>Requested</button>
                                                                                                    <% } else if(followUser.followerId == id && followUser.isFollow == 1 && userInfo.id != id) { %>
                                                                                                        <button type="button" id="requestedForUnfollowUsers"
                                                                                                        class="btn btn-primary m-r-10 m-b-5 requestedForUnfollowUsers buttonInfo" data-user-id="<%= userId %>"><i class="fa fa-thumbs-down"></i>UnFollow</button>
                                                                                                    <% } else if(userInfo.id == id){ %>
                                                                                                        <button type="button" id="savedUsers"
                                                                                                        class="btn btn-primary m-r-10 m-b-5 savedUsers buttonInfo"><i class="fa fa-bookmark" style="color: black;"></i><a href="/saved-posts" style="color: white;font-weight:bold;">Saved</a></button>
                                                                                                    <% } else if(userInfo.id != id){%>
                                                                                                        <button type="button" id="followUsers"
                                                                                                        class="btn btn-primary m-r-10 m-b-5 followUsers buttonInfo" data-user-id="<%= userId %>"><i class="fa fa-user-plus"></i>Follow</button>
                                                                                                    <% } %>
                                                                                            <%  }); } else { %>
                                                                                                <button type="button" id="followUsers"
                                                                                                class="btn btn-primary m-r-10 m-b-5 followUsers buttonInfo" data-user-id="<%= userId %>"><i class="fa fa-user-plus"></i>Follow</button>
                                                                                            <% }%>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <div class="tab-header card">
                                                                <ul class="nav nav-tabs md-tabs tab-timeline"
                                                                    role="tablist" id="mytab">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab"
                                                                            href="#personal" role="tab">Personal
                                                                            Info</a>
                                                                        <div class="slide"></div>
                                                                    </li>
                                                                   
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab"
                                                                            href="#gallery" role="tab">User gallery</a>
                                                                        <div class="slide"></div>
                                                                    </li>

                                                                </ul>
                                                            </div>


                                                            <div class="tab-content">
                                                                <!-- user-profile -->
                                                                <div class="tab-pane active" id="personal" role="tabpanel">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5 class="card-header-text">About Me</h5>
                                                            
                                                                        </div>
                                                                        <div class="card-block">
                                                            
                                                                            <div class="view-info">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="general-info">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-12 col-xl-6">
                                                                                                    <div class="table-responsive">
                                                                                                        <table class="table m-0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        Full
                                                                                                                        Name
                                                                                                                    </th>
                                                                                                                    <td id="name">
                                                            
                                                                                                                    </td>
                                                                                                                </tr>
                                                            
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        Birth
                                                                                                                        Date
                                                                                                                    </th>
                                                                                                                    <td id="dob">
                                                                                                                    </td>
                                                                                                                </tr>
                                                            
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        Country
                                                                                                                    </th>
                                                                                                                    <td id="country">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        Gender
                                                                                                                    </th>
                                                                                                                    <td id="gender">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </div>
                                                            
                                                                                                <div class="col-lg-12 col-xl-6">
                                                                                                    <div class="table-responsive">
                                                                                                        <table class="table">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        Email
                                                                                                                    </th>
                                                                                                                    <td id="emailInfo">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        Mobile
                                                                                                                        Number
                                                                                                                    </th>
                                                                                                                    <td id="phone">
                                                                                                                    </td>
                                                                                                                </tr>
                                                            
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                                                                                        State
                                                                                                                    </th>
                                                                                                                    <td id="state">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th scope="row">
                                                            
                                                                                                                    </th>
                                                                                                                    <td>
                                                                                                                    </td>
                                                                                                                </tr>
                                                            
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </div>
                                                            
                                                                                            </div>
                                                            
                                                                                        </div>
                                                            
                                                                                    </div>
                                                            
                                                                                </div>
                                                                            </div>
                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                                <!-- gallery Images -->
                                                                <div class="tab-pane" id="gallery" role="tabpanel">
                                                                    <div class="page-body gallery-page">
                                                                        <div class="row">
                                                            
                                                                            <div class="col-sm-12">
                                                            
                                                                                <div class="card">
                                                                                    <div class="card-header">
                                                                                        <h5>User Gallery</h5>
                                                                                    </div>
                                                                                    <div class="card-block">
                                                                                        <div class="row">
                                                                                            <div class="col-lg-12">
                                                            
                                                                                                <div id="imageContainer">
                                                                                                    <p id="textInfo" style="display: none;">Images not available</p>
                                                            
                                                                                                </div>
                                                                                                <div id="imageModal" class="modal">
                                                                                                    <div class="modal-content">
                                                                                                        <span class="close">&times;</span>
                                                                                                        <img id="modalImage" src="" alt="Modal Image">
                                                                                                        <!-- Navigation buttons -->
                                                                                                        <button class="nav-button" id="prevButton">Previous</button>
                                                                                                        <button class="nav-button" id="nextButton">Next</button>
                                                                                                    </div>
                                                            
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                            
                                                                                </div>
                                                            
                                                            
                                                                            </div>
                                                                        </div>
                                                            
                                                            
                                                                    </div>
                                                            
                                                            
                                                                </div>
                                                            
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="styleSelector">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>


    <%- include('scripts'); %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Prepare data to be sent in the request body
        var requestData = {
          id: "<%= userId %>" // Example user ID, replace with your actual parameter
        };
        // Fetch user data from the backend when the page loads
        fetch('/api/user/id', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
          })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Network response was not ok.');
          })
          .then(data => {
            // Populate input boxes with fetched data
            let user = data && data.userDetails ? data.userDetails : null;
            let image = user && user.image ? user.image : null;
            let galleryImages = user && user.gallerys ? user.gallerys : [];
            const modal = document.getElementById('imageModal');
            const modalImage = document.getElementById('modalImage');
            var text = document.getElementById('textInfo');
            let currentImageIndex = 0;
            let gallerys = [];

            document.getElementById('name').textContent = user.userName;

            document.getElementById('emailInfo').textContent = user.email;

            document.getElementById('phone').textContent = user.phone;

            document.getElementById('dob').textContent = user.dob;

            document.getElementById('country').textContent = user.country;

            document.getElementById('state').textContent = user.state;

            document.getElementById('gender').textContent = user.gender;

            if (image) {
              const uploadedImage = document.getElementById('myImage');
              uploadedImage.src = '../images/uploads/' + image.profilePicId + '/' + image.profilePicName;
              uploadedImage.style.display = 'block'; // Show the image element
            } else {
              const uploadedImage = document.getElementById('myImage');
              uploadedImage.src = `../images/human.png`;
              uploadedImage.style.display = 'block'; // Show the image element
            }

            let userName = document.getElementById('userName');
            userName.textContent = user.userName;

            if (galleryImages && galleryImages.length > 0) {
              const container = document.getElementById('imageContainer');

              // Clear existing images in the container
              container.innerHTML = '';

              // Loop through the array and create img elements
              galleryImages.forEach((imageUrl, index) => {

                gallerys.push('../gallery/' + imageUrl.imageId + '/' + imageUrl.fileName);

              });

              gallerys.forEach((imageUrl, index) => {
                const img = document.createElement('img');
                img.src = imageUrl
                img.className = "img-fluid img-thumbnail";
                img.alt = 'Image';
                img.addEventListener('click', () => openModal(index));
                container.appendChild(img);

              });



              // Open the modal with the selected image
              function openModal(index) {
                currentImageIndex = index;
                modalImage.src = gallerys[currentImageIndex];
                modal.style.display = 'block';

                // Close modal when close button or outside modal is clicked
                const closeBtn = document.querySelector('.close');
                closeBtn.onclick = closeModal;
                window.onclick = function(event) {
                  if (event.target === modal) {
                    closeModal();
                  }
                };

                // Update navigation buttons visibility

                updateNavButtons();
              }

              // Function to close the modal
              function closeModal() {
                modal.style.display = 'none';
              }
              // Function to update navigation buttons visibility
              function updateNavButtons() {
                const prevBtn = document.getElementById('prevButton');
                const nextBtn = document.getElementById('nextButton');

                prevBtn.style.display = currentImageIndex > 0 ? 'block' : 'none';
                nextBtn.style.display = currentImageIndex < gallerys.length - 1 ? 'block' : 'none';
              }

              // Event listeners for navigation buttons
              document.getElementById('prevButton').addEventListener('click', () => {
                if (currentImageIndex > 0) {
                  currentImageIndex--;
                  modalImage.src = gallerys[currentImageIndex];
                  updateNavButtons();
                }
              });

              document.getElementById('nextButton').addEventListener('click', () => {
                if (currentImageIndex < gallerys.length - 1) {
                  currentImageIndex++;
                  modalImage.src = gallerys[currentImageIndex];
                  updateNavButtons();
                }
              });

            } else {
              text.style.display = 'block';
            }

          })
          .catch(error => {
            console.error('Error fetching user data:', error);
          });

      });
    </script>

    <% if (errorMessage) { %>
        <script>
        'use strict';
        $(window).on('load',
            function() {
            function notify(message) {
                $.growl({
                message: message,
                icon: $(this).attr('data-icon'),
                title: ' Error message is : ',
                }, {
                element: 'body',
                type: $(this).attr('data-type'),
                allow_dismiss: false,
                offset: {
                    x: 30,
                    y: 30
                },
                spacing: 10,
                z_index: 999999,
                delay: 8500,
                timer: 1000,
                icon_type: 'class',
                placement: {
                    from: $(this).attr('data-from'),
                    align: $(this).attr('data-align')
                },
                animate: {
                    enter: $(this).attr('data-animation-in'),
                    exit: $(this).attr('data-animation-out')
                },
                template: '<div data-growl="container" class="alert" role="alert" style="border:3px solid red;width:30%;">' +
                    '<button type="button" class="close" data-growl="dismiss">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '<span class="sr-only">Close</span>' +
                    '</button>' +
                    '<span data-growl="icon"></span>' +
                    '<span data-growl="title" style="color:black;"></span>' +
                    '<span data-growl="message" style="color:red;"></span>' +
                    '</div>'
                });
            };

            notify("<%= errorMessage %>");
            });
        </script>
    <%}%>

    <script>
   
        document.addEventListener("DOMContentLoaded", function() {
            // Get all user cards
            const userCards = document.querySelectorAll('.cover-btn');
        
            // Loop through each user card
            userCards.forEach(function(card) {
                // Get buttons inside the current card
                const followButton = card.querySelector('.followUsers');
                const requestedButton = card.querySelector('.requestedForfollowUsers');
                const unFollowButton = card.querySelector('.requestedForUnfollowUsers');
                const followButtons = card.querySelectorAll('.followUsers');
                const savedUsers = card.querySelectorAll('.savedUsers');
    
                console.log('followButtons',followButtons)
                console.log('followButtons-length',followButtons.length)
                console.log('savedUsers-length',savedUsers.length)

    
    
                // Check if both follow and profile buttons exist
                if (followButtons.length > 0 && requestedButton ) // If there are multiple follow buttons, keep only the first one and remove the rest
                {
                    console.log('here-1')
    
                    // Loop through follow buttons starting from the second one
                    for (let i = 0; i < followButtons.length; i++)
                    {
                        // Remove the follow button
                        followButtons[i].remove();
                    }
                }
                else if (followButtons.length > 0 && unFollowButton ) // If there are multiple follow buttons, keep only the first one and remove the rest
                {
                    console.log('here-1')
    
                    // Loop through follow buttons starting from the second one
                    for (let i = 0; i < followButtons.length; i++)
                    {
                        // Remove the follow button
                        followButtons[i].remove();
                    }
                }
                else if (followButton && requestedButton )
                {
                    console.log('here-2')
                    // If both follow and profile buttons exist, remove the follow button
                    followButton.remove();
                }
                else if (followButton && unFollowButton )
                {
                    console.log('here-3')
    
                    followButton.remove();
                }
               
                else if (followButtons.length > 1 ) // If there are multiple follow buttons, keep only the first one and remove the rest
                {
                    console.log('here-4')
    
                    // Loop through follow buttons starting from the second one
                    for (let i = 1; i < followButtons.length; i++)
                    {
                        // Remove the follow button
                        followButtons[i].remove();
                    }
                }
                else if(savedUsers && savedUsers.length > 1)
                {
                    console.log('here-5')
    
                    // Loop through follow buttons starting from the second one
                    for (let i = 1; i < savedUsers.length; i++)
                    {
                        // Remove the follow button
                        savedUsers[i].remove();
                    }
                }
               
            });
        });
    </script>

    <script>

        function callAPI(followingId) 
            {
                document.querySelector(`button[data-user-id="${followingId}"]`).disabled = true;
    
                const requestBody = {
                    followingId: followingId,
                    followerId: '<%= id %>',
                    uuid : '<%= uuid %>',
                    userId : '<%= id %>'
                };
    
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                };
    
                fetch('/follow/users/', options)
                    .then(response =>
                    {
                        if (!response.ok)
                        {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data =>
                    {
                        if(data && data.status == 1)
                        {
                            document.getElementById('followUsers').innerText = 'Remove';
    
                            alert('Request sent to the user!');
                            location.reload();
                        }
                        else
                        {
                            alert(data.message)
                        }
    
                    })
                    .catch(error =>
                    {
                        console.error('There was a problem with the API request:', error);
    
                        alert('There was a problem with the API request:', error)
                    })
            }
    
            document.querySelectorAll('.followUsers').forEach(button =>
            {
                button.addEventListener('click', () =>
                {
                    const followingId = button.getAttribute('data-user-id');
                    callAPI(followingId);
                });
            });
       
    </script>
    
    <script>
    
        function requestedForUnfollowUsers(followingId) 
        {
            document.querySelector(`button[data-user-id="${followingId}"]`).disabled = true;
    
            const requestBody = {
                followingId: followingId,
                followerId: '<%= id %>',
                userId : '<%= id %>',
                uuid : '<%= uuid %>'
            };
    
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            };
    
            fetch('/update/unfollow/users/', options)
                .then(response =>
                {
                    if (!response.ok)
                    {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data =>
                {
                    if(data && data.status == 1)
                    {
                        document.getElementById('requestedForUnfollowUsers').innerText = 'Follow';
    
                        alert('User has unfollowed the account!');
                        location.reload();
                    }
                    else
                    {
                        alert(data.message)
                    }
    
                })
                .catch(error =>
                {
                    console.error('There was a problem with the API request:', error);
    
                    alert('There was a problem with the API request:', error)
                })
        }
    
        document.querySelectorAll('.requestedForUnfollowUsers').forEach(button =>
        {
            button.addEventListener('click', () =>
            {
                const followingId = button.getAttribute('data-user-id');
                requestedForUnfollowUsers(followingId);
            });
        });
       
    </script>
    
    <script>
    
        function requestedForfollowUsers(followingId) 
        {
            document.querySelector(`button[data-user-id="${followingId}"]`).disabled = true;
    
            const requestBody = {
                followingId: followingId,
                followerId: '<%= id %>',
                userId : '<%= id %>',
                uuid : '<%= uuid %>'
            };
    
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            };
    
            fetch('/update/follow/users/', options)
                .then(response =>
                {
                    if (!response.ok)
                    {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data =>
                {
                    if(data && data.status == 1)
                    {
                        document.getElementById('requestedForfollowUsers').innerText = 'UnFollow';
    
                        alert('User has followed the account!');
                        location.reload();
                    }
                    else
                    {
                        alert(data.message)
                    }
    
                })
                .catch(error =>
                {
                    console.error('There was a problem with the API request:', error);
    
                    alert('There was a problem with the API request:', error)
                })
        }
    
        document.querySelectorAll('.requestedForfollowUsers').forEach(button =>
        {
            button.addEventListener('click', () =>
            {
                const followingId = button.getAttribute('data-user-id');
                requestedForfollowUsers(followingId);
            });
        });
       
    </script>
           
</body>

</html>