<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adminty - Premium Admin Template by Colorlib </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    <%- include('links'); %>
</head>

<body>

    <%- include('loader'); %>

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <%- include('topNav'); %>
                    <div class="pcoded-main-container">
                        <div class="pcoded-wrapper">
                            <%- include('sideNav'); %>
                                <div class="pcoded-content">
                                    <div class="pcoded-inner-content">

                                        <div class="main-body">
                                            <div class="page-wrapper">

                                                <div class="page-header">
                                                    <div class="row align-items-end">
                                                        <div class="col-lg-8">
                                                            <div class="page-header-title">
                                                                <div class="d-inline">
                                                                    <h4>User Profile</h4>
                                                                    <span>User profile details</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="page-header-breadcrumb">
                                                                <ul class="breadcrumb-title">
                                                                    <li class="breadcrumb-item" style="float: left;">
                                                                        <a href="/"> <i class="feather icon-home"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="breadcrumb-item" style="float: left;"><a
                                                                            href="/user-profile">User Profile</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="page-body">

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="cover-profile">
                                                                <div class="profile-bg-img">
                                                                    <img class="profile-bg-img img-fluid"
                                                                        src="../images/bg-img1.jpg" alt="bg-img">
                                                                    <div class="card-block user-info">
                                                                        <div class="col-md-12">
                                                                            <div class="media-left">
                                                                                <a href="#" class="profile-image">
                                                                                    <img class="user-img img-radius"
                                                                                        src="../images/user-img.jpg"
                                                                                        alt="user-img">
                                                                                </a>
                                                                            </div>
                                                                            <div class="media-body row">
                                                                                <div class="col-lg-12">
                                                                                    <div class="user-title">
                                                                                        <h2><%= username %></h2>
                                                                                        <span class="text-white" ></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="pull-right cover-btn">
                                                                                        <button type="button"
                                                                                            class="btn btn-primary m-r-10 m-b-5"><i
                                                                                                class="icofont icofont-plus"></i>
                                                                                            Follow</button>
                                                                                        <!-- <button type="button" class="btn btn-primary"><i class="icofont icofont-ui-messaging"></i>
Message</button> -->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                            <div class="tab-header card">
                                                                <ul class="nav nav-tabs md-tabs tab-timeline"
                                                                    role="tablist" id="mytab">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab"
                                                                            href="#personal" role="tab">Personal
                                                                            Info</a>
                                                                        <div class="slide"></div>
                                                                    </li>

                                                                    <% if (errorMessage) { %>

                                                                        <li class="nav-item">
                                                                            <a class="nav-link"
                                                                                href="#"  style = "color: red;font-weight:bold;"> <%= errorMessage %></a>
                                                                            <div class="slide"></div>
                                                                        </li>
                            
                                                                    <%} else if(sucessMessage){ %>
                                        
                                                                        <li class="nav-item">
                                                                            <a class="nav-link"
                                                                                href="#"  style = "color: green;font-weight:bold;"> <%= sucessMessage %></a>
                                                                            <div class="slide"></div>
                                                                        </li>
                                                                        <%}%>
                                                                </ul>
                                                            </div>


                                                            <div class="tab-content">

                                                                <div class="tab-pane active" id="personal"
                                                                    role="tabpanel">

                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5 class="card-header-text">About Me</h5>
                                                                           
                                                                            <button id="edit-btn" type="button"
                                                                                class="btn btn-sm btn-primary waves-effect waves-light f-right">
                                                                                <i class="icofont icofont-edit"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="card-block">
                                                                            <div class="view-info">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="general-info">
                                                                                            <div class="row">
                                                                                                <div
                                                                                                    class="col-lg-12 col-xl-6">
                                                                                                    <div
                                                                                                        class="table-responsive">
                                                                                                        <table
                                                                                                            class="table m-0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        Full
                                                                                                                        Name
                                                                                                                    </th>
                                                                                                                    <td id="name">

                                                                                                                    </td>
                                                                                                                </tr>
                                                                    
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        Birth
                                                                                                                        Date
                                                                                                                    </th>
                                                                                                                    <td id="dob">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        Country
                                                                                                                    </th>
                                                                                                                    <td id="country">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        Gender
                                                                                                                    </th>
                                                                                                                    <td id="gender"></td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div
                                                                                                    class="col-lg-12 col-xl-6">
                                                                                                    <div
                                                                                                        class="table-responsive">
                                                                                                        <table
                                                                                                            class="table">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        Email
                                                                                                                    </th>
                                                                                                                    <td id="emailInfo">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        Mobile
                                                                                                                        Number
                                                                                                                    </th>
                                                                                                                    <td id="phone">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                             
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        State
                                                                                                                    </th>
                                                                                                                    <td id="state">
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <th
                                                                                                                        scope="row">
                                                                                                                        
                                                                                                                    </th>
                                                                                                                    <td ></td>
                                                                                                                </tr>
                                                                                                               
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>

                                                                                        </div>

                                                                                    </div>

                                                                                </div>

                                                                            </div>

                                                                            <div class="edit-info">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="general-info">
                                                                                            
                                                                                            <form action="/api/update/user" method="post"  enctype="application/x-www-form-urlencoded" name="myUpdateForm" onsubmit="return validateUpdateForm()">
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-2 col-form-label">Full Name
                                                                                                        </label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="text" class="form-control" name="userName" id="editName">
                                                                                                        <span id="errorName" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-2 col-form-label">Email</label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="email" class="form-control" id="editEmailInfo" name="emailInfo">
                                                                                                        <span id="errorEmail" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-2 col-form-label">Mobile Number
                                                                                                        </label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="text" class="form-control" id="editPhone" name="phone"
                                                                                                            >
                                                                                                        <span id="errorPhone" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-2 col-form-label">dob</label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="date" class="form-control" id="editDob" name="dob" >
                                                                                                        <span id="errorDob" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-2 col-form-label">Country
                                                                                                        </label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="text" class="form-control" id="editCountry" name="country"
                                                                                                            >
                                                                                                        <span id="errorCountry" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-sm-2 col-form-label">State
                                                                                                        </label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="text" class="form-control" id="editState" name="state"
                                                                                                            >
                                                                                                        <span id="errorState" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <label class="col-sm-2 col-form-label">Gender
                                                                                                        </label>
                                                                                                    <div class="col-sm-10">
                                                                                                        <div class="form-check form-check-inline radio radiofill radio-primary radio-inline">
                                                                                                            <label class="form-check-label">
                                                                                                                <input class="form-check-input" type="radio" name="gender" id="editGender" value="male"> Male
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <div class="form-check form-check-inline radio radiofill radio-primary radio-inline">
                                                                                                            <label class="form-check-label">
                                                                                                                <input class="form-check-input" type="radio" name="gender" id="editGender" value="female"> Female
                                                                                                            </label>
                                                                                                        </div>
                                                                                                        <span id="errorGender" style="color: red;"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                               
                                                                                                <div class="form-group row">
                                                                                                
                                                                                                    <div class="col-sm-10">
                                                                                                        <input type="hidden" class="form-control" id="uuid" name="userId" value="<%= id %>">
                                                                                                
                                                                                                    </div>
                                                                                                </div>
                                                                                            
                                                                                            <div class="text-center">
                                                                                                <button type="submit"
                                                                                                    class="btn btn-primary waves-effect waves-light m-r-20">Save</button>
                                                                                                    <a href="#!" id="edit-cancel" class="btn btn-default waves-effect">Cancel</a>
                                                                                            </div>

                                                                                        </form>
                                                                                        </div>

                                                                                    </div>

                                                                                </div>

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="styleSelector">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>


        <%- include('scripts'); %>

        <script>
            const phoneInput = document.getElementById('editPhone');
            
            phoneInput.addEventListener('input', function() {
                // Remove any non-digit characters
                let phoneNumber = phoneInput.value.replace(/\D/g, '');
                
                // Limit to 10 digits
                phoneNumber = phoneNumber.slice(0, 10);
                
                // Update the input value
                phoneInput.value = phoneNumber;
            });
        </script>

        <script>
    
            function validateUpdateForm() 
            {
                let name = document.forms["myUpdateForm"]["editName"].value;
                let email = document.forms["myUpdateForm"]["editEmailInfo"].value;
                let phone = document.forms["myUpdateForm"]["editPhone"].value;
                
    
                let phoneValidation = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
                let emailValidation = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    
                if (!name) 
                {
                  document.getElementById('errorName').innerHTML="userName is required.";
                  return false;
                }
                else  if (name.toString().length < 2 ) 
                {
                  document.getElementById('errorName').innerHTML="User name minimum character limit is 2";
                  return false;
                }
                else  if (name.toString().length > 30) 
                {
                  document.getElementById('errorName').innerHTML="userName maximum character limit is 30.";
                  return false;
                }
    
                if (!email)
                {
                    document.getElementById('errorEmail').innerHTML="Email is required.";
                    return false;
                }
                else if (email && !(email.match(emailValidation)))
                {
                    document.getElementById('errorEmail').innerHTML="Invalid email address";
                    return false;
                }
                else if (email && email.toString().length > 50)
                {
                    document.getElementById('errorEmail').innerHTML="Email maximum character limit is 50.";
                    return false;
                }
    
                if (phone && !(phone.match(phoneValidation)))
                {
                    document.getElementById('errorPhone').innerHTML="Invalid phone address";
                    return false;
                }
    
                return true;
              }
              
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Prepare data to be sent in the request body
                var requestData = {
                    id: "<%= id %>" // Example user ID, replace with your actual parameter
                };
    console.log('requestData',requestData)
                // Fetch user data from the backend when the page loads
                fetch('/api/user/id', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                })
                .then(response => response.json())
                .then(data => {
                    // Populate input boxes with fetched data
                    let user =  data && data.userDetails ? data.userDetails : null;
                    console.log('user',user)
                    document.getElementById('name').textContent = user.userName;
                    document.getElementById('editName').value = user.userName;

                    document.getElementById('emailInfo').textContent = user.email;
                    document.getElementById('editEmailInfo').value = user.email;

                    document.getElementById('phone').textContent = user.phone;
                    document.getElementById('editPhone').value = user.phone;

                    document.getElementById('dob').textContent = user.dob;
                    document.getElementById('editDob').value = user.dob;

                    document.getElementById('country').textContent = user.country;
                    document.getElementById('editCountry').value = user.country;

                    document.getElementById('state').textContent = user.state;
                    document.getElementById('editState').value = user.state;

                    document.getElementById('gender').textContent = user.gender;
                    document.getElementById('editGender').value = user.gender; 

                    if (user.gender === 'male') 
                    {
                        document.getElementById('editGender').checked = true;
                    } 
                    else if (user.gender === 'female') 
                    {
                        document.getElementById('editGender').checked = true;
                    }
                 
                })
                .catch(error => {
                    console.error('Error fetching user data:', error);
                });
               
            });
          </script>
    
</body>

</html>